.main__section--content {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:baseline;
    gap: 30px;
}

.title__image {
    padding-top: 80px;
}