.contact-button {
    background-color: #5454D4;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    padding: 14px 40px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.contact-btn {
    padding-top: 100px;
}

.contact__section-icon {
    padding-top: 200px;
}