.video__player-button {
    width: 100%;
    height: 640px;
    background-color: rgb(103, 112, 121);
    background-image: url('../../../assets/images/videoimage.png');
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video__player-box {
    padding-top: 0px;
}
