.button {
    color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
}